<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.positive.portfolio.positive.mapper.HobbyMapper">

    <select id="hobbyList" resultType="com.positive.portfolio.positive.vo.HobbyVO">
        SELECT * FROM hobby_tbl
    </select>

    <select id="findHobbyById" parameterType="Long" resultType="com.positive.portfolio.positive.vo.HobbyVO">
        SELECT * FROM hobby_tbl WHERE hobby_id = #{hobby_id}
    </select>

</mapper>
